/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$pr-reg:	Pragmatica, sans-serif;
$pr-med:	Pragmatica-Meduim, sans-serif;
$pr-black:	Pragmatica-Black, sans-serif;
$pr-bold:	Pragmatica-Bold, sans-serif;
$pr-bold-obl:	Pragmatica-BoldOblique, sans-serif;
$pr-exLi-obl:	PragmaticaExtraLight-Oblique, sans-serif;
$pr-cond: 		Pragmatica-Condensed, sans-serif;
$arial-bold:	Arial-bold, sans-serif;
$roboto-bold:   Roboto-bold, sans-serif;
$roboto-regular:   Roboto-regular, sans-serif;
$roboto-medium: Roboto-Medium, sans-serif;
$blueL: #4b7ee6;
$blue: #2e519b;
$white: #ffffff;
$grey: #bfbfbf;
$greyD: #808080;
$orange: #f4a052;
$orangeL: #f68d2b;
$orangeD: #fe8d23;
$darkgrey: #333333;
$darkgreyL: #666666;
$button-blue: #487be5;
$wrapper-mid: 1000px;
a {
	color: red
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	&__top{
		height: 40px;
		background-color: transparent;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box;
	}
	&-inner{
		position: relative;
		& .header__top{
			background-color: #2d3d5f;
		}
	}
}

.clear{
	clear: both
}
.top-left{
	float: left;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	&__city{
		margin-right: 70px;
	}
	&__phone{
		display: flex;
		color: $grey;
	}
	&__text{
		font-family: $pr-med;
		font-size: 16px;
		margin-right: 15px;
		line-height: 40px;
		position: relative;
		&::before{
			content: "";
			display: inline-block;
			left: 0;
			width: 16px;
			height: 16px;
			background-image: url(../images/icons/tel-icon.png);
			background-repeat: no-repeat;
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 7px;
		}
	}
	&__link{
		font-family: $pr-reg;
		color: $greyD;
		text-decoration: dashed;
		font-size: 12px;
		line-height: 40px;
	}
}
.city{
	&__item{
		font-family: $pr-reg;
		color: $white;

	}
}

.top-right{
	float: right;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}
.lang{
	min-width: 67px;
	max-width: 70px;
	height: 25px;
	border: 1px solid #898989;
	border-radius: 2px;
	cursor: pointer;
	box-sizing: border-box;
	margin-right: 70px;
	color: $white;
	text-transform: uppercase;
	font-family: $pr-reg;
	font-size: 12px;
	&__bl{
		display: flex;
		width: 100%;
		height: 100%;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	&__item{
		display: none;
		&-active{
			display: block;
			&::after{
				content: "";
				display: inline-block;
				width: 5px;
				height: 4px;
				background-image: url(../images/icons/header-link.png);
				background-repeat: no-repeat;
				background-size: cover;
				margin-left: 5px;
				vertical-align: middle;
			}
		}
		&-rus::before{
			content: "";
			display: inline-block;
			width: 14px;
			height: 11px;
			background-image: url(../images/icons/rus-map.png);
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 8px;
			vertical-align: middle;
		}
		
	}
	
}
.connect-block{
	&__item{
		font-size: 14px;
		color: $white;
		font-family: $pr-reg;
		font-size: 14px;
		&-enter::after{
			content: "";
			display: inline-block;
			width: 1px;
			height: 16px;
			background-color: #fff;
			margin-left: 13px;
			margin-right: 13px;
			vertical-align: bottom;
		}
	}
}
.header-bot{
	height: 65px;
	background-color: #13357e;
	opacity: 0.85;
	color: $white;
	display: flex;
	flex-wrap: wrap;
}
.header-logo{
	height: 100%;
	margin-left: 20px;
	width: 180px;
	&__item{
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		text-decoration: none;
		color: $white;
	}
	&__title{
		font-size: 36px;
		font-family: $pr-bold-obl;
	}
	&__text{
		font-size: 11px;
		font-family: $pr-exLi-obl;
	}
}
.header-nav{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	&__link{
		display: flex;
		align-items: center;
		height: 100%;
		color: $white;
		text-decoration: none;
		font-size: 16px;
		font-family: $pr-black;
		margin-right: 70px;
		box-sizing: border-box;
		&-zoom::before{
			content: "";
			display: inline-block;
			width: 18px;
			height: 18px;
			background-image: url(../images/icons/menu-spites.png);
			background-size: cover;
			background-position: 0 0;
			margin-right: 10px;
			background-repeat: no-repeat;
		}
		&-poster::before{
			content: "";
			display: inline-block;
			width: 15px;
			height: 18px;
			background-image: url(../images/icons/menu-spites.png);
			background-size: cover;
			background-position: -19px 0;
			margin-right: 10px;
			background-repeat: no-repeat;
		}
		&-archieve::before{
			content: "";
			display: inline-block;
			width: 16px;
			height: 18px;
			background-image: url(../images/icons/menu-spites.png);
			background-size: cover;
			background-position: -35px 0;
			margin-right: 10px;
			background-repeat: no-repeat;
		}
		&-favorites::before{
			content: "";
			display: inline-block;
			width: 17px;
			height: 18px;
			background-image: url(../images/icons/menu-spites.png);
			background-size: cover;
			background-position: -53px 0;
			margin-right: 10px;
			background-repeat: no-repeat;
		}
		&-tarif::before{
			content: "";
			display: inline-block;
			width: 16px;
			height: 18px;
			background-image: url(../images/icons/menu-spites.png);
			background-size: cover;
			background-position: -72px 0;
			margin-right: 10px;
			background-repeat: no-repeat;
		}
		&-active{
			border-bottom: 4px solid #4a7ee6;
		}
	}
	&__link:last-child{
		margin-right: 0;
	}

}
.section-first{
	height: 460px;;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.banner-wrapper{
	width: $wrapper-mid;
	height: 100%;
	margin: 0 auto;
	padding-top: 170px;
	padding-bottom: 45px;
	box-sizing: border-box;
	text-align: center;
}
.banner{
	&__item-title{
		font-size: 46px;
		color: #fff;
		font-family: $pr-bold;
		text-transform: uppercase;
		margin-bottom: 22px;
	}
	&__item-text{
		font-size: 22px;
		color: #fff;
		font-family: $pr-reg;
		margin-bottom: 50px;
	}
}
.button{
	&__item{
		cursor: pointer;
		width: 244px;
		height: 47px;
		background-color: #00651a;
		font-size: 16px;
		color: $white;
		font-family: $pr-black;
		border: none;
		opacity: 0.8;
		margin-right: 50px;
		margin-bottom: 22px;
		outline-style: none;
	}
	&__item:last-child{
		margin-right: 0;
	}
	&__item:hover{
		opacity: 1;
	}
}
.short-text{
	display:flex;
	flex-wrap: wrap;
	padding: 0 180px;
	box-sizing: border-box;
	text-align: center;
	color: $white;
	font-family: $pr-cond;
	line-height: 16px;
	&__item{
		width: 295px;
		&-left{
			margin-right: 50px;
		}

	}
}
.section-second{
	min-height: 160px;
	max-height: 200px;
	&-wrapper{
		width: 1000px;
		margin: 0 auto;
	}
}
.icons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 18px;
	&__item{
		width: 168px;
		display: inherit;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-right: 43px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__img{
		object-fit: cover;
	}
	&__text{
		color: #333;
		font-family: $pr-reg;
		font-size: 14px;
		text-align: center;
		line-height: 20px;
		padding: 0 15px;
		margin-top: 18px;
	}
}
.section-third{
	background-color: #f5f5f5;
	border-top: 1px solid #dbdbdb;
	padding-top: 50px;
	&-wrapper{
		width: 1240px;
		margin: 0 auto;
	}
	&__title{
		font-size: 24px;
		color: #000;
		line-height: 20px;
		font-family: $pr-bold;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	&__text{
		width: 624px;
		margin: 0 auto;
		font-size: 18px;
		color: #666;
		font-fmaily: $pr-reg;
		line-height: 22px;
		text-align: center;
		margin-bottom: 50px;
	}
	&__button{
		background-color: #4b7fe6;
		color: #fff;
		font-size: 16px;
		font-family: $pr-med;
		width: 224px;
		height: 47px;
		border-radius: 2px;
		display: flex;
		cursor: pointer;
		margin: 0 auto;
		margin-bottom: 70px;
		&:hover{
			opacity: 0.95;
		}
	}
	&__link{
		color: $white;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}
}
.service-block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 50px;

	&__item{
		width: 384px;
		height: 293px;
		background-size: cover;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	&__text{
		font-size: 24px;
		color: $white;
		line-height: 30px;
		font-family: $pr-bold;
		text-align: center;
		padding: 0 70px;
		margin-bottom: 30px;
	}
}
.articles{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 70px;
	&__item{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		width: 272px;
		text-decoration: none;
		color: #024930;
		font-size: 18px;
		font-family: $pr-med;
		line-height: 26px;
		justify-content: flex-start;
	}
	&__img{
		width: 100%;
		height: 180px;
		margin-bottom: 20px;
	}
	&__text{

	}
}
.section-forth{
	height: 460px;
	background-image: url(../images/bg-th.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;

	&-wrapper{
		width: 1240px;
		margin: 0 auto;
	}
	&__item{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding-left: 120px;
	}
	&__left{
		width: 475px;
	}
}
.left-side{
	&__title{
		font-size: 26px;
		color: $white;
		line-height: 28px;
		font-family: $pr-bold;
		margin-bottom: 30px;
	}
	&__sm-title{
		font-family: $pr-reg;
		font-size: 18px;
		color: $white;
		line-height: 26px;
	}
	&__text{
		font-family: $pr-reg;
		font-size: 14px;
		color: $white;
		line-height: 28px;
		margin-top: 25px;
		width: 307px;
		padding-right: 25px;
		box-sizing: border-box;
	}
	&__number{
		font-family: $pr-black;
		font-size: 18px;
		line-height: 28px;
	}
	&__button{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 244px;
		height: 47px;
		font-size: 16px;
		color: $white;
		line-height: 40px;
		font-family: $pr-med;
		border: 3px solid #fff;
		border-radius: 2px;
		margin-top: 40px;
		text-decoration: none;
		box-sizing: border-box;
	}
}
.right-side{
	&__item{
		width: 575px;
		height: 340px;
		background-color: #000;
		opacity: 0.83;
	}
	&__inner{
		padding: 20px 50px 40px;
	}
	&__title{
		color: $orangeL;
		font-size: 26px;
		line-height: 28px;
		font-family: $pr-bold;
		display: inline-block;
	}
	&__link{
		font-size: 14px;
		font-family: $pr-reg;
		line-height: 22px;
		color: $orangeL;
		border: 1px solid $orangeL;
		border-radius: 1px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 130px;
		height: 29px;
		margin-left: 20px;
		text-decoration: none;
		box-sizing: border-box;
	}
}
.bl-list{
	&__item{
		padding: 15px 0;
	}
	&__link{
		color: $orange;
		font-family: $pr-reg;
		text-decoration: none;
		display: inline-block;
	}
	&__time{
		font-size: 14px;
		line-height: 26px;
		display: block;
		margin-bottom: 5px;
	}
	&__direction{
		font-size: 24px;
		line-height: 22px;
		color: $orangeL;
		display: inline-block;
		margin-bottom: 10px;
		position: relative;
		&::before{
			content: "";
			width: 16px;
			height: 12px;
			position: absolute;
			left: -30px;
			top: 5px;
			background-image: url(../images/icons/arrow-list.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}
	&__some-info{
		color: $orangeL;
		font-size: 18px;
		line-height: 22px;
	}
	&__km{
		font-size: 15px;
		display: inline-block;
		margin-top: -15px;
		position: relative;
		top: -13px;
		&::before{
			content: "~";
			display: inline-block;
		}
	}
}
.nano > .nano-pane{
	width: 11px;
}
.nano > .nano-pane > .nano-slider{
	background: $white;
	height: 30px!important;
}
.footer{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 50px 80px 50px 20px;
	background-color: #f5f5f5;
	&__item{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-start;
		width: 180px;
	}
	&__title{
		font-size: 14px;
		color: #000;
		font-family: $pr-black;
		margin-bottom: 20px;
		&-company{
			font-family: $pr-reg;
		}
		&-bold{
			font-family: $pr-black;
			color: #000;
			text-decoration: none;
		}
	}
	&__link{
		font-size: 14px;
		color: #000;
		font-family: $pr-reg;
		line-height: 20px;
		text-decoration: none;
		margin-bottom: 5px;
		&-feedback{
			width: 244px;
			height: 46px;
			border: 3px solid $orangeL;
			color: $orangeL;
			font-size: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			box-sizing: border-box;
		}
	}
	&__copyright{
		font-size: 14px;
		color: #000;
		font-family: $pr-reg;
	}
	&-inner{
		background-color: #292929;
		color: #fff;
		& .footer__link, & .footer__title, & .footer__copyright, & .footer__title-compan, & .footer__title-bold{
			color: #fff;
		}
	}

}
.main-cargo, .main-transport, .main-company{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #efeeee;
}
.main-transport .search-list__item-avia .search-list__item-left{
	width: 70px;
	margin-right: 10px;
}
.main-transport .search-list__item-avia .search-list__item-right{
	width: 600px;
}

.main-company .search-list__item-company .search-list__item-left{
	width: 70px;
	margin-right: 10px;
}
.main-company .search-list__item-company .search-list__item-right{
	width: 600px;
}

.main-transport
	.left-main{
		width: 736px;
		padding-top: 20px;
		display: inline-flex;
		flex-wrap: wrap;
		flex-direction: column;
		&__item{
			text-align: left;
		}
}
.transport-list{
	&__item{
		text-decoration: none;
		font-size: 15px;
		color: $blue;
		font-family: $arial-bold;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		padding: 0 15px;
		height: 36px;
		margin-right: 20px;
		&-active{
			color: $blueL;
			border: 2px solid $blueL;
			border-radius: 30px;
		}
	}
}
.transport-icons{
	margin-top: 20px;
	margin-left: 20px;
	&__item{
		text-decoration: none;
		font-family: $arial-bold;
		color: $darkgrey;
		font-size: 16px;
		display: inline-block;
		margin-right: 50px;
		&-avia::before{
			content: "";
			display: inline-block;
			width: 28px;
			height: 28px;
			display: inline-flex;
			background-image: url(../images/icons/cargo-sprites.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			vertical-align: middle;
			margin-right: 10px;
		}
		&-train::before{
			content: "";
			display: inline-block;
			width: 28px;
			height: 28px;
			display: inline-flex;
			background-image: url(../images/icons/cargo-sprites.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: -28px 0;
			vertical-align: middle;
			margin-right: 10px;
		}
		&-truck::before{
			content: "";
			display: inline-block;
			width: 28px;
			height: 28px;
			display: inline-flex;
			background-image: url(../images/icons/cargo-sprites.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: -56px 0;
			vertical-align: middle;
			margin-right: 10px;
		}
		&-sea::before{
			content: "";
			display: inline-block;
			width: 28px;
			height: 28px;
			display: inline-flex;
			background-image: url(../images/icons/cargo-sprites.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: -84px 0;
			vertical-align: middle;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
.search-popup{
	margin-top: 30px;
	margin-bottom: 10px;
	&__item{
		width: 100%;
		height: 50px;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		background-color: $white;
		padding-left: 20px;
		box-sizing: border-box;
	}
	&__link{
		color: $darkgrey;
		font-size: 14px;
		font-family: $roboto-bold;
		text-decoration: none;
		&::before{
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			background-image: url(../images/icons/search-icon.png);
			background-size: cover;
			margin-right: 15px;
			background-repeat: no-repeat;
		}
	}
}
.search-list{
	&__auction{
		margin-bottom: 10px;
	}
	&__auction-icon{
		width: 64px;
		height: 15px;
		display: inline-flex;
		background-color: #999999;
		color: #fff;
		font-family: $roboto-regular;
		font-size: 12px;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
	&__auction-time{
		font-family: $roboto-regular;
		font-size: 14px;
	}
	&__item{
		width: 100%;
		background-color: $white;
		padding: 20px 20px 15px;
		box-sizing: border-box;
		display: flex;
		margin-bottom: 10px;
		&-train{
			& .search-list__type::before{
				content: "";
				display: inline-block;
				width: 26px;
				height: 18px;
				background-image: url(../images/icons/cargo-icons.png);
				background-size: cover;
				background-repeat: no-repeat;
				margin-right: 14px;
				vertical-align: middle;
			}
		}
		&-truck{
			& .search-list__type::before{
				content: "";
				display: inline-block;
				width: 59px;
				height: 21px;
				background-image: url(../images/icons/truck-icon.png);
				background-size: cover;
				background-repeat: no-repeat;
				margin-right: 14px;
				vertical-align: middle;
			}
		}
		&-avia{
			& .search-list__link{
				font-size: 16px;
			    font-family: Roboto-bold;
			    color: #2e519b;
			    text-decoration: none;
			    line-height: 26px;
			    margin-bottom: 15px;
			}
			& .search-list__type::before{
				content: "";
				display: inline-block;
				width: 22px;
				height: 22px;
				background-image: url(../images/icons/avia-icon.png);
				background-size: cover;
				background-repeat: no-repeat;
				margin-right: 14px;
				vertical-align: middle;
			}
		}
		&-sea{
			& .search-list__type::before{
				content: "";
				display: inline-block;
				width: 22px;
				height: 22px;
				background-image: url(../images/icons/sea-icon.png);
				background-size: cover;
				background-repeat: no-repeat;
				margin-right: 14px;
				vertical-align: middle;
			}
		}
		&-left{
			padding: 0;
			width: 347px;
			display: inline-flex;
			flex-wrap: wrap;
			flex-direction: column;
		}
		&-right{
			padding: 0;
			width: 350px;
			display: inline-flex;
			flex-wrap: wrap;
			flex-direction: column;
			position: relative;
		}

	}
	&__city{
		font-size: 14px;
		font-family: $roboto-bold;
		color: #000;
	}
	&__top{
		margin-bottom: 15px;
	}
	&__middle{
		margin-bottom: 10px;
	}
	&__name, &__job{
		font-size: 14px;
		font-family: $roboto-regular;
	}
	&__link{
		font-size: 16px;
		font-family: $roboto-regular;
		color: $blue;
		text-decoration: none;
		line-height: 26px;
		margin-bottom: 15px;
	}
	&__bold{
		font-family: $roboto-bold;
	}
	&__time{
		font-family: $roboto-regular;
		font-size: 14px;
		color: $darkgrey;
		line-height: 26px;
		margin-bottom: 10px;
	}
	&__type{
		font-family: $roboto-regular;
		font-size: 14px;
		color: $darkgreyL;
		line-height: 20px;
		margin-bottom: 20px;
	}
	&__company{
		font-family: $roboto-bold;
		font-size: 12px;
		color: #303030;
		line-height: 20px;
	}
	&__direction{
		font-size: 16px;
		color: $darkgrey;
		line-height: 20px;
		font-family: $roboto-medium;
		display: flex;
		margin-bottom: 12px;
	}
	&__f-direction, &__to-direction{
		display: inline-flex;
		margin-right: 10px;
		align-items: center;
	}
	&__to-direction::before{
		content: "";
		display: inline-block;
		background-image: url(../images/icons/direct-arrow.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 16px;
		height: 6px;
		margin-right: 10px;
	}
	&__massa{
		font-size: 14px;
		color: $darkgrey;
		line-height: 20px;
		font-family: $roboto-medium;
		margin-bottom: 12px;
	}
	&__someinfo{
		font-size: 14px;
		color: $darkgreyL;
		line-height: 20px;
		font-family: $roboto-medium;
	}
	&__change-time, &__add-time{
		text-align: right;
		font-size: 12px;
		font-family: $roboto-regular;
		color: $darkgreyL;
		line-height: 20px;
		position: absolute;
		bottom: 0;
		right: 0;
		font-weight: bold;
	}
	&__add-time{
		position: relative;
	}
	&__border{
		border-left: 1px solid #e4e4e4;
		padding-left: 20px;
		width: 315px;
		box-sizing: border-box;
	}
	&__connect{
		position: absolute;
		right: 0;
		top: 0;
		width: 24px;
		height: 90%;
	}
	&__message{
		display: inline-block;
		width: 18px;
		height: 13px;
		background-image: url(../images/icons/mess-phone.png);
		background-size: 18px 31px;
		background-position: 0 0;
		margin-bottom: 20px;
	}
	&__phone{
		display: inline-block;
		width: 18px;
		height: 17px;
		background-image: url(../images/icons/mess-phone.png);
		background-size: 18px 31px;
		background-position: 0 -14px;
	}
	&__logo{
		width: 70px;
		height: 70px;
		object-fit: cover;
	}
	&__votes{
		width: 60px;
		display: inline-block;
	}
}

.right-main{
	width: 240px;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 20px;
	&__item{
		width: 100%;
	}
	&__poster-link{
		width: 100%;
		height: 47px;
		background-color: $button-blue;
		color: $white;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		text-decoration: none;
		font-family: $roboto-regular;
		border-radius: 2px;
		&:hover{
			opacity: 0.95;
		}
	}
}
.exchange{
	background-color: $white;
	padding: 30px 20px 35px;
	box-sizing: border-box;
	margin-bottom: 20px;
	&__item{
		height: 40px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border-bottom: 1px dashed #e4e4e4;
		justify-content: space-between;
	}
	&__title{
		font-family: $roboto-bold;
		font-size: 18px;
		color: $darkgrey;
		text-transform: uppercase;
		text-align: center;		
		margin-bottom: 18px;
	}
	&__name{
		font-size: 12px;
		font-family: $pr-reg;
		color: #303030;
		font-weight: bold;
	}
	&__cost{
		font-family: $roboto-bold;
		color: #303030;
	}
}
.tg{
	font-size: 12px;
}
.banner-sidebar{
	width: 100%;
	display: flex;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 4px solid $orange;
	box-sizing: border-box;
	text-decoration: none;
	padding-left: 16px;
	&__item{
		display: inherit;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
	}
	&__title{
		font-size: 28px;
		color: $orangeD;
		line-height: 23px;
		font-family: $roboto-bold;
		margin-bottom: 20px;
	}
	&__text{
		font-size: 17px;
		color: $white;
		line-height: 19px;
		font-family: $pr-cond;
		margin-bottom: 20px;

	}
}
.pagination{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__ul{
		display: flex;
	}
	&__list{
		width: 44px;
		height: 44px;
		background-color: #fff;
		margin-right: 4px;
	}
	&__show{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__link{
		width: 100%;
		height: 100%;
		text-decoration: none;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
		font-family: $roboto-bold;
		color: #4e4e4e;
	}
	&__text{
		font-size: 12px;
		font-family: $roboto-regular;
		color: #4e4e4e;
		margin-right: 20px;
	}
	&__counts{
		width: 44px;
		height: 44px;
		margin-right: 1px;
	}
	&__number{
		width: 44px;
		height: 44px;
		font-size: 15px;
		font-family: $roboto-bold;
		color: #4e4e4e;
		text-decoration: none;
		display: none;
		justify-content: center;
		align-items: center;
		&-active{
			display: inline-flex;
			background-color: $orange;
		}
	}
	&__down{
		cursor: pointer;
		background-color: $white;
		width: 44px;
		height: 44px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

}
.registr{
	background-color: #efeeee;
	padding-top: 20px;
	padding-bottom: 50px;
	&__item{
	}
	&__title{
		font-size: 20px;
		color: $darkgrey;
		line-height: 40px;
		width: 1000px;
		margin: 0 auto;
		font-family: $roboto-bold;
		margin-bottom: 20px;
		padding-left: 20px;
		box-sizing: border-box;
	}
	&-block{
		width: 1000px;
		margin: 0 auto;
		background-color: $white;
		padding: 15px 20px 50px;
		box-sizing: border-box;
	}

}
.border-bottom{
	width: 1040px;
	height: 1px;
	background-color: #efeeee;
	margin-left: -20px;
	margin-top: -1px;
}
.tabs{
	&__item{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		height: 45px;
	}
	&__link{
		font-size: 20px;
		line-height: 40px;
		color: $darkgrey;
		height: 45px;
		text-transform: uppercase;
		font-family: $roboto-bold;
		margin-right: 30px;
		box-sizing: border-box;
		cursor: pointer;
		position: relative;
		&-active{
			color: $orangeD;
			border-bottom: 3px solid $orangeD;
		}
		&:nth-child(2){
			margin-left: 30px;
		}
		&:nth-child(2)::before{
			content: "";
			position: absolute;
			left: -30px;
			top: 10px;
			width: 1px;
			height: 20px;
			background-color: #b8b8b8;
			vertical-align: middle;
		}
	}
}
.tab-block{
	display: none;
	&-active{
		display: block;
	}
	&__title{
		margin-top: 30px;
		font-size: 16px;
		color: #333;
		font-family: $roboto-bold;
		line-height: 20px;
		margin-bottom: 20px;
	}
	&__item.agree-rule{
		margin-left: 180px;
		box-sizing: border-box;
		width: 520px;
		& .label__text{
			margin-left: 25px;
			text-align: left;
			display: flex;
			flex-wrap: wrap;
			height: auto;
			width: 515px;
			margin-top: -5px;
		}
	}
	&__submit{
		width: 200px;
		height: 35px;
		background-color: #2b8e22;
		color: $white;
		border: none;
		border-radius: 2px;
		cursor: pointer;
		font-family: $roboto-regular;
		margin-left: 180px;
		margin-top: 40px;
	}
}
.label{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	&__info{
		margin: 10px 0; 
		margin-left: 180px;
		font-family: $roboto-regular;
		font-size: 12px;
	}
	&__parent{
		margin-top: 25px;
	}
	&__link-rule{
		font-size: 14px;
		font-family: $roboto-regular;
		color: #666666;
	}
	&__name{
		width: 180px;
		font-family: $roboto-medium;
		font-size: 14px;
		color: #333;
		line-height: 24px;
	}
	&__text{
		width: 340px;
		height: 40px;
		outline-style: none;
		padding-left: 10px;
		box-sizing: border-box;
		font-size: 14px;
		font-family: $roboto-regular;
		color: #333;
		line-height: 24px;
		&-long{
			width: 520px;
			margin-left: 0;
		}
		&-right{
			margin-left: 180px;
			margin-bottom: 10px;
		}
	}
	&__added{
		width: 160px;
		height: 40px;
		font-size: 14px;
		color: #666666;
		font-family: $roboto-regular;
		padding-left: 10px;
		box-sizing: border-box;
		margin-left: 20px;
		outline-style: none;
		margin-bottom: 10px;
		&-right{
			margin-bottom: 10px;
			margin-left: 540px;
			margin-right: 280px;
		}
	}
	&__add-button{
		margin-left: 20px;
		color: #333333;
		line-height: 24px;
		font-size: 14px;
		font-family: $roboto-medium;
		text-decoration: none;
	}
	& .select2-container{
		width: 160px!important;
		outline-style: none;
		height: 100%;
		margin-right: 20px;
		&--default .select2-selection--single{
			border-radius: 0;
			height: 40px;
			display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: space-between;
		}
	}
	&__prev-img{
		width: 80px;
		height: 80px;
		display: inline-block;
		background-image: url(../images/icons/not-img.png);
		background-repeat: no-repeat;
		background-size: 43px 50px;
		background-position: center;
		margin-right: 20px;
		margin-top: 25px;
	    object-fit: cover;
	    &.contactface-upload{
			background-image: url(../images/icons/not-face.png);
	    }
	}
}
.file-upload {
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     overflow: hidden; /* Все что выходит за пределы - скрываем */
     width: 140px; /* Задаем ширину кнопки выбора файла */
     height: 20px; /* Задаем высоту кнопки выбора файла */ 
     background: #81be7b;
     border-radius: 3px;
     padding: 8px 4px;
     color: #fff;
     text-align: center;
     margin-bottom: 20px;
	&:hover{
		background: #2b8e22;
	}
	&__img{
		display: none; /* Обязательно скрываем настоящий Input File */
	}
	&__label{
		/* Растягиваем label на всю возможную площадь блока .file-upload */
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&__button{
		line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
	}
}
.filename {
     background: #fff;
     border: 0;
     padding-left: 10px;
     outline-style: none;
     font-family: $roboto-regular;
}
.label__checkbox{
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
	& + label{
		cursor: pointer;
		font-size: 0;
	}
	&:not(checked) {
		position: absolute;
		opacity: 0;
	}
	&:not(checked) + label {
		position: relative; /* будем позиционировать псевдочекбокс относительно label */
		width: 17px;
		height: 17px;
	}
	&:not(checked) + label:before {
	  content: '';
	  position: absolute;
	  top: 0px;
	  left: 0;
	  width: 15px;
	  height: 15px;
	  border: 1px solid #b8b8b8;
	}
	&:not(checked) + label:after {
	  content: '';
	  position: absolute;
	  background-image: url(../images/icons/checkbox-icon.png);
	  background-position: center;
	  background-size: 10px 8px;
	  background-repeat: no-repeat;
	  left: 0px;
	  top: 0px;
	  width: 17px;
	  height: 17px;
	  opacity: 0;
	  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
	}
	&:checked + label:before {
	  background: #f8b85c;
	  border: 1px solid #f8b85c;
	}
	&:checked + label:after {
	  opacity: 1;
	}
}
.favorites-active{
	& .add-favorites__button{
		background-position: -16px 0;
	}
}
.add-favorites{
	width: 34px;
	padding: 0;
	cursor: pointer;
	&__button{
		width: 15px;
		height: 15px;
		background-image: url(../images/icons/star-icon.png);
		background-size: 31px 15px;
		background-position: 0 0;
	}
}
.left-smtg_block .add-favorites__button{
	margin-top: 10px;
}
.all-select{
	margin-right: 15px;
}
.left-smtg_block{
  width: 34px;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 5px;
}

.add-favorites__button {
  width: 15px;
  height: 15px;
  background-image: url(../images/icons/star-icon.png);
  background-size: 31px 15px;
  background-position: 0 0;
}

.head-inner__back {
  display: flex;
  width: 8px;
  height: 14px;
  background-image: url(../images/icons/back-icon.png);
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 20px;
  background-position: center center;
}

.head-inner__item {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.head-inner__country {
  margin-right: 20px;
}

.head-inner__title {
  margin-right: 20px;
  font-family: Roboto-bold;
  font-size: 20px;
  color: #333;
}

.head-inner__time {
  margin-right: 14px;
  font-family: Roboto-regular;
  font-size: 14px;
  color: #666;
  position: absolute;
  right: 0;
}

.company-info {
  display: flex;
  flex-wrap: wrap;
}

.company-info__left {
  width: 100px;
}

.company-info__right {
  width: 555px;
}

.company-info__adress {
  display: flex;
  flex-wrap: wrap;
}

.company-info__contact-face {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.company-info__tel, .company-info__skype {
  display: flex;
  flex-wrap: wrap;
}

.company-info__title {
  font-size: 14px;
  font-family: Roboto-Medium;
  color: #333;
  margin-right: 40px;
  width: 100px;
  margin-bottom: 10px;
}

.company-info__text {
  font-size: 14px;
  font-family: Roboto-regular;
  color: #666;
}

.company-info__number {
  font-size: 14px;
  font-family: Roboto-regular;
  color: #666;
  width: 100%;
  margin-bottom: 15px;
}

.company-info__login {
  font-size: 14px;
  font-family: Roboto-regular;
  color: #666;
}

.company-info__transport {
  display: flex;
  flex-wrap: wrap;
}

.company-info__cargo-name {
  font-size: 14px;
  font-family: Roboto-regular;
  color: #666;
}

.company-info__cargo {
  display: flex;
  flex-wrap: wrap;
}

.company-info__transport-name, .company-info__count {
  font-size: 14px;
  font-family: Roboto-regular;
  color: #666;
}

.left-main {
  width: 737px;
}

.company-info__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.company-info__button {
  padding: 10px 20px;
  background-color: #328f2a;
  margin-right: 5px;
  color: #fff;
  font-family: Roboto-regular;
  height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.company-info__document {
  width: 100px;
  height: 85px;
  background-color: #f1f0f0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.company-info__checkbox {
  margin-bottom: 10px;
}

.company-info__activities {
  width: 455px;
}

.company-info__activities-title {
  font-size: 16px;
  font-family: Roboto-bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.company-info__activities-list {
  margin-bottom: 15px;
  font-family: Roboto-regular;
  font-size: 14px;
  color: #666666;
  &::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 1px;
    background-color: #2e519b;
    vertical-align: middle;
    margin-right: 4px;
  }
}

.company-info__transports-title {
  font-size: 16px;
  font-family: Roboto-bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.company-info__transports-list-sea, .company-info__transports-list-train, .company-info__transports-list-avia, .company-info__transports-list-truck {
  font-size: 14px;
  margin-bottom: 10px;
}

.company-info__transports-list-train::before, .company-info__transports-list-sea::before, .company-info__transports-list-avia::before, .company-info__transports-list-truck::before {
  content: "";
  display: inline-block;
  background-image: url(../images/icons/cargo-sprites.png);
  width: 28px;
  height: 28px;
  -webkit-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
}

.search-list__logotype {
  width: 40px;
  height: 40px;
  .search-list__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.search-list__toright {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
}

.main-black-list .search-list__item-left {
  flex-direction: row;
}

.search-list__tel, .search-list__email, .search-list__address {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.search-list__tel-name {
  font-family: Roboto-Medium;
  font-size: 14px;
  margin-right: 5px;
}

.search-list__tel-text {
  font-family: Roboto-regular;
  font-size: 14px;
  color: #666;
}

.black-delete {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  margin: 20px 0 10px;
  padding-left: 20px;
}

.black-delete__button {
  height: 34px;
  width: 115px;
  background-color: #2a8f22;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  justify-content: center;
  margin-left: 20px;
}

.search-list__checkbox {
  margin-right: 10px;
  padding-top: 5px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.main-staff-inner {
  .search-list__item-left {
    flex-direction: row;
  }
  .search-list__toright {
    width: 240px;
  }
  .search-list__link {
    width: 100%;
  }
}

.search-list__face {
  margin-right: 20px;
}

.search-list__status-online::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #7fbc7a;
  border-radius: 50%;
  margin-right: 5px;
}

.search-list__status {
  margin-top: 10px;
  font-size: 12px;
  font-family: Roboto-regular;
  color: #666;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.change-staff-link {
  width: 18px;
  height: 17px;
  background-image: url(../images/icons/change-icon.png);
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  right: 0;
}

.change-top-block {
  margin: 20px 0;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.change-top-block__button {
  padding: 0 20px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  background-color: #2a8f22;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-family: Roboto-regular;
  border-radius: 2px;
  margin-right: 10px;
}

.staff-inner__checkbox {
  margin-right: 15px;
}

.message-list__right {
  position: relative;
  width: 100%;
}

.main-message-common {
  .search-list__change-time {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
  }
  .search-list__link {
    font-family: Roboto-bold;
    color: #2a8f22;
  }
  .search-list__direction {
    color: #000;
    font-family: Roboto-regular;
    font-size: 14px;
    font-weight: bold;
  }
}

.search-list__photo {
  margin-right: 25px;
}

.ask-block__title {
  font-family: Roboto-Medium;
  font-size: 16px;
}

.ask-block__textarea {
  width: 100%;
  height: 100px;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 15px;
  outline-style: none;
}

.ask-block {
  padding: 20px 20px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 50px;
}

.ask-block__send {
  width: 140px;
  height: 35px;
  background-color: #2a8f22;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.search-list__date-time {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  font-family: Roboto-regular;
  color: #666666;
}
.main-cargo, .main-transport, .main-company, .main-black-list, .main-staff-inner, .main-message-common, .main-cargo-inner, .cargo-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #efeeee;
}
.cargo-inner{
	&__item{
		background-color: #fff;
		padding: 20px;
		box-sizing: border-box;
		margin-bottom: 1px;
		& .head-inner__item{
			margin: 0;	
		}
	}

}
.info-cargo{
	display: flex;
	flex-wrap: wrap;
}
.option-block{
	width: 505px;
	&__item{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	&__title{
		width: 135px;
		font-size: 14px;
		font-family: $roboto-medium;
		color: #333333;
		line-height: 24px;
	}
	&__text{
		font-size: 14px;
		font-family: $roboto-regular;
		color: #666;
		line-height: 24px;
	}

}
.button-inner{
	width: 190px;
	text-align: right;
	&__item{
		margin-bottom: 15px;
	}
	&__edit{
		background-image: url(../images/icons/change-icon.png);
		width: 18px;
		height: 17px;
		background-size: cover;
		display: inline-block;
	}
	&__box{
		background-image: url(../images/icons/box-icon.png);
		width: 16px;
		height: 16px;
		background-size: cover;
		display: inline-block;
	}
	&__delete{
		background-image: url(../images/icons/delete-icon.png);
		width: 17px;
		height: 22px;
		display: inline-block;
		background-size: cover;
	}
	&__print{
		display: inline-block;
		background-image: url(../images/icons/print-icon.png);
		width: 20px;
		height: 17px;
		background-size: cover;
	}
}
.button-promote{
	text-align: right;
	width: 100%;
	margin-top: 15px;
	&__item{
		display: inline-block;
		box-sizing: border-box;
		padding: 12px 20px;
		color: #fff;
		text-decoration: none;
		background-color: #81be7b;
		border-radius: 2px;
	}
}
.about-company{
	&__title{
		font-family: $roboto-medium;
		font-size: 16px;
		color: #333;
		margin-bottom: 30px;
		line-height: 24px;
	}
	&__block{
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
	&__logo{
		width: 40px;
		height: 25px;
		object-fit: cover;
		position: absolute;
		right: 0;
		top: 0;
	}
	&__cmname{
		color: #2a8f22;
		font-family: $roboto-bold;
		font-size: 16px;
		line-height: 24px;
		margin-right: 5px;
	}
	&__name{
		font-size: 16px;
		font-family: $roboto-bold;
		line-height: 26px;
		color: #333333;
		margin-bottom: 10px;
	}
	&__position{
		font-size: 14px;
		font-family: $roboto-regular;
		line-height: 20px;
		color: #333333;
	}
	&__city{
		color: #333;
		font-family: $roboto-bold;
		font-size: 14px;
		line-height: 24px;
	}
	&__smtitle{
		font-family: $roboto-medium;
		font-size: 14px;
		margin-bottom: 20px;
		margin-top: 30px;
		line-height: 24px;
	}
	&__face{
		width: 60px;
		height: 60px;
		overflow: hidden;
		margin-right: 20px;
	}
	&__contacts{
		display: flex;
		flex-wrap: wrap;
	}
	&__photo{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__left{
		display: flex;
		flex-wrap: wrap;
		width: 308px;
	}
	&__right{
		display: flex;
		flex-wrap: wrap;
		width: 365px;
		border-left: 1px solid #dddddd;
		padding-left: 20px;
		box-sizing: border-box;
	}
	&__tel, &__email, &__address{
		display: flex;
		flex-wrap: wrap;
	}
	&__tel-name, &__email-name, &__address-name{
		font-size: 14px;
		line-height: 20px;
		color: #333333;
		font-family: $roboto-medium;
		margin-right: 5px;
	}
	&__tel-text, &__email-text, &__address-text{
		font-size: 14px;
		line-height: 20px;
		color: #666666;
		font-family: $roboto-regular;
	}

}


.forms-block{
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	&__item{
		display: flex;
		flex-wrap: wrap;
	}
	&__separate{
		width: 340px;
	}
}
.label-edit{
	& .select2-container{
		width: 100%!important;
		outline-style: none;
		height: 40px;
		margin-right: 20px;
		&--default .select2-selection--single{
			border-radius: 0;
			height: 40px;
			display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: space-between;
		}
	}
}
.aasd{
	color: red;
}
.gta{
	color: green;
}